@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800;900&family=Red+Hat+Display:wght@500;700;900&family=Road+Rage&family=Roboto:wght@400;500;900&display=swap');

:root {
    --purple: #5280e2;
    --green: #15cdcb;
    --bg-dark: #212226;
    --light-grey: #e0dede;

    --menuheight: 65px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
    width: 100%;
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-grey);
}

button {
    background: var(--purple);
    border: none;
    border-radius: 16px;
    padding: 8px 35px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.title-purple {
    color: var(--purple);
}

.title-green {
    color: var(--green);
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container h1 {
    color: var(--green);
}

header .container h1 {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--menuheight);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 70%;
    height: 60vh;
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px dotted var(--purple);
    position: absolute;
    top: -25px;
    left: calc(50% - 70% / 2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    border: 1px dotted var(--green);
}

.services {
    text-align: center;
    margin: 90px 0;
    padding: 0 100px;
}

.service-container, .portifolio-container {
    display: flex;
    margin: 60px auto 0;
    justify-content: space-between;
    max-width: 1200px;
}

.services .service-container .service-card {
    max-width: 360px;
    background: #2f3034;
    border: 1px solid var(--purple);
    border-radius: 16px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services .service-container .service-card img {
    margin: 20px 0 40px;
    width: 90px;
    height: 90px;
}

.service-card+.service-card {
    margin-left: 10px;
}

.portifolio {
    margin: 90px 0;

    text-align: center;
    background: url(assets/bg.png) center;
    margin-bottom: 100px;
}

.portifolio .portifolio-container {
    margin-top: 100px;
}

.portifolio .portifolio-container .portifolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    border-radius: 16px;
    max-width: 360px;
    border: 1px solid #fff;
    text-align: center;
    padding: 50px 25px;
}

.portifolio-card+.portifolio-card {
    margin-left: 10px;
}

.portifolio .portifolio-container .portifolio-card .img-container {
    margin: 0 25px 50px;
    position: relative;
}

.portifolio .portifolio-container .portifolio-card .img-container img {
    width: 100%;
}

.portifolio .portifolio-container .portifolio-card .language ul {
    display: flex;
    list-style: none;
}

.portifolio .portifolio-container .portifolio-card .language ul li+li {
    margin-left: 10px;
}

.portifolio .portifolio-container .portifolio-card .language ul li {
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 16px;
    padding: 3px 15px;
}

.portifolio .portifolio-container .portifolio-card p {
    margin: 0;
    text-align: left;
}

.portifolio .img-container .line {
    position: absolute;
    width: 280px;
    border: 1px solid var(--purple);
    border-radius: 16px;
    transform: rotate(-1.93deg);
    height: calc(100% + 50px);
    top: -25px;
    left: calc(50% - 70% / 2 - 50px);
}


/* RESPONSIVIDADE */
/* TABLET */
@media (max-width: 960px) {
    header .container {
        width: 100%;
        font-size: 0.8em;
    }

    header {
        height: calc(100vh - 6em);
    }

    header .container {
        padding: 50px;
    }

    nav {
        height: 2em;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 10px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1em;
        letter-spacing: 1px;
        font-weight: bold;
    }

    nav img {
        display: none;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container, .about-me .img-container {
        width: 100%;
    }

    .about-me .img-container {
        padding-right: 0;
        margin: 70px 0;
    }

    .services .service-container, .portifolio-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .service-card+.service-card, .portifolio-card+.portifolio-card {
        margin-left: 0;
        margin-top: 15px;
    }

}

/* SAMARTPHONE */
@media (max-width: 480px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    button {
        font-size: .8em;
    }

    header {
        height: 40vh;
    }

    nav {
        padding: 2px;
        height: 2em;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding-left: 0;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 0.4em;
        letter-spacing: 1px;
        font-weight: bold;
    }

    nav img {
        display: none;
    }

    .about-me {
        padding: 0 40px;
    }

    .about-me .img-container {
        display: none;
    }

    .services .service-container .service-card, .portifolio .portifolio-container .portifolio-card {
        padding: 0;
    }

}